<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhargavi.laxmi.movieshare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieShareApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".MediaDetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/DetailTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bhargavi.laxmi.movieshare.HomeActivity" />
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4f2eaea58c0807dbf27a6c4ec753e7ddfca8036b" />
    </application>

</manifest>
